# ====================================
# Node.js
# ====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# ====================================
# Build / Dist
# ====================================
dist/
build/
.cache/
.tmp/
.out/
.next/
.vite/

# ====================================
# Env files (configuración sensible)
# ====================================
.env
.env.local
.env.*.local
/backend/.env
/frontend/.env

# ====================================
# Sistema Operativo
# ====================================
.DS_Store
Thumbs.db


# ====================================
# IDEs y editores
# ====================================
.vscode/
.idea/
*.swp
*.swo
.prettierrc